<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Debadia</title>

    <script src="https://unpkg.com/htmx.org@latest"></script>
    <script src="https://cdn.jsdelivr.net/gh/gnat/surreal@main/surreal.js"></script>
    <script src="https://cdn.tailwindcss.com"></script>
  </head>

  <body>
    <header></header>
    <main>
      {% block main %}{% endblock %}
    </main>
    <footer></footer>
  </body>
</html>
